<div class="row">
    <div class="col-xs-3">
        <ul class="nav nav-pills nav-stacked on-click-make-active">
            <li><a ui-sref="allPosts">App Main Page</a></li>
            <li><a ui-sref="admin.postNew">Add Post</a></li>
        </ul>
    </div>
    <div class="col-xs-9 border-left">
        <div ui-view></div>
    </div>
</div>